<h1>Create a Videogame</h1>

<form action="/save" method="post">
  <p>Title:</p>
  <input name="title">
  <p>Genre:</p>
  <input name="genre">
  <p>Rating:</p>
  <input name="rating" placeholder="E/T/M">
  <br><br>
  <input type="submit">
</form>