<h1>Delete a product</h1>
<p>What's the ID of the product that you want to delete?</p>
<form action="/delete_confirm" method="post">
  <p>ID:</p>
  <input name="id">
  <br><br>
  <input type="submit" id="sub">
</form>

<center><a href="/home" class="go-home">Go back home</a></center>