<h1>Edit Videogames</h1>

<form action="/edit_confirm" method="post">
  <p>ID:</p>
  <input name="id">
  <p>Title:</p>
  <input name="title">
  <p>Genre:</p>
  <input name="genre">
  <p>Rating:</p>
  <input name="rating">
  <br><br>
  <input type="submit" id="sub">
</form>

<center><a href="/home" class="go-home">Go back home</a></center>